@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;

}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

 .page {
  color: #000;
  background-color: #fff;

  height: 100%;

  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
 }

.page-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
}

 ul, li {
  margin: 0;
  padding: 0%;
  list-style: none;
 }

a {
  text-decoration: none;
  color: inherit;
}

 .page-header {
  width: 1040px;
  margin: 0 auto;
  margin-top: 13px;
  padding: 0 60px;

  background-color: #ffe17f;
  background-position: 10px 50px;
  box-shadow: 0 27px 0 0 #fff inset;
  color: #000;
 }

.page-header-logo {
  display: block;
  margin-top: 4px;
}

.user-navigation {
  display: flex;
  align-items: center;
  margin: 30px 0;
 }

 .user-navigation .button {
  color: #000;
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;

  border: none;
  background: transparent;
 }

 .search-form {
  display: flex;
  margin: 0;
  padding: 0;
 }

.search-form .button {
  color: #000;
  font-family: "Rubik";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  border: none;
  background: transparent;
}

.search-input {
  margin: 0;
  padding: 0;
  margin-right: auto;
  width: 359px;
  height: 40px;

  border: 2px solid #000;
  border-radius: 20px 0 0 20px;

  background: transparent;
}

.user-navigation .search-button {
  margin: 0;
  padding: 0;
  margin-right: 27px;
  width: 160px;
  height: 40px;

  border: 2px solid #000;
  border-left: transparent;
  border-radius: 0 20px 20px 0;

  background: transparent;

}

.compare-button {
  margin-left: auto;
  margin-right: 36px;
}

.cart-button {
  display: block;

}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-item {
  margin: 15px 0;
}

.navigation-item:not(:last-child) {
  margin-right: 45px;
}

.navigation-item:not(:first-child) {
  width: 127px;
}

.navigation-item:nth-child(2) {
  margin-left: auto;
}

.navigation-link {
  color: #000;
  font-family: "Raleway";
  font-size: 18px;
  line-height: normal;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}


/* C A T A L O G */

.main-conteiner {
  flex-grow: 1;
  width: 100%;
}

.inner-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 1160px;
  padding: 35px 60px;
  margin: 0 auto;
}

.inner-header-title {
  color: #000;
  background-color: #fff;

  font-family: "Raleway";
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  margin: 0;
  margin-bottom: 16px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: auto;
}

.braedcrumbs-item:not(:last-child) {
  margin-right: 36px;
}

.content {
  background-color: #f0f0f0;
}

.inner-content {
  display: grid;
  grid-template-columns: 320px 840px;
  margin: 0 auto;
  width: 1160px;
}

.main-content {
  display: grid;
  align-items: center;
  grid-template-columns: 840px;

  background-color: #fff;
}

.product-header {
  display: flex;
  align-items: center;

  width: 840;
  height: auto;
  padding: 20px 40px;
  margin: 0;

  background-color: #f0f0f0;
}

.sorting-type {
  margin: 0 auto;
}

.product-header .button {
  width: 30px;
  height: 30px;
  background-color: #ffe17f;
  margin-right: 0;
}

.product-list {
  display: grid;
  justify-content: center;
  grid-template-columns: 360px 360px;
  gap: 44px 40px;
  margin-top: 70px;
  margin-bottom: 44px;
}

.product-item img {
  padding-bottom: 32px;
}

.more-button {
  margin-bottom: 44px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-bottom: 78px;
}

.pagination-list {
  display: flex;
  justify-content: center;
}


.form-title {
  color: #000;
  font-family: "Raleway";
  font-size: 18px;
  line-height: normal;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}




/* F O O T E R */
footer {
  color: #fff;
  background-color: #444444;
  width: 100%;
}

.footer-container {
  font-family: "Rubik";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  box-sizing: border-box;
  width: 1440px;
  padding: 60px 140px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 240px auto 180px;
}

.footer-logo {
  display: block;
  grid-column: span 3;
  justify-self: start;
  padding: 2px 1px;
  margin-bottom: 33px;
}

.footer-address {
  font-style: normal;
  margin-bottom: 47px;
}

.footer-navigation {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.footer-navigation-item {
  width: 121px;
}

.footer-navigation-item:not(:last-child) {
  margin-right: 35px;
}

.footer-navigation-link {
  font-family: "Raleway";
  font-size: 18px;
  line-height: normal;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-phone {
  justify-self: end;
}

.footer-social-list {
  display: flex;
}

.footer-developer {
  justify-self: end;
}


.footer-social-item .button {
  width: 30px;
  height: 30px;
  background-color: #ffe17f;
}
