@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;

}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

 .page {
  color: #000;
  background-color: #fff;

  height: 100%;

  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.page-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
}

ul, li {
  margin: 0;
  padding: 0%;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.page-header {
  width: 1040px;
  margin: 0 auto;
  margin-top: 13px;
  padding: 0 60px;

  background-color: #ffe17f;
  background-position: 10px 50px;
  box-shadow: 0 27px 0 0 #fff inset;
  color: #000;
}

.page-header-logo {
  display: block;
  margin-top: 4px;
}

/* МЕНЮ ПОЛЬЗОВАТЕЛЯ */

.user-navigation {
  display: flex;
  justify-content: space-between;

  align-items: center;
  margin: 30px 0;
}

.search-form {
  display: flex;
  margin: 0;
  padding: 0;
}

.search-input {
  margin: 0;
  padding: 0;
  margin-right: auto;
  width: 359px;
  height: 40px;

  border: 2px solid #000;
  border-radius: 20px 0 0 20px;

  background: transparent;
}

.search-button {
  color: #000;
  font-family: "Rubik";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  background: transparent;
  border: 2px solid #000;
  border-left: none;
  border-radius: 0 20px 20px 0;
}

.search-button span {
  cursor: pointer;
  padding: 10px 56px;
}

.user-navigation-list {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.user-navigation-item:first-child {
  width: 231px;
  margin: auto;
  margin-left: 26px;
}

.user-navigation-item .compare {
  margin-right: 26px;
}


.user-navigation-link {
  color: #000;
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;

  border: none;
  background: transparent;
}

.user-navigation-icon {
  margin-right: 12px;
}







/* ОСНОВНОЕ МЕНЮ В ХЕДЕРЕ*/
.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-item {
  margin: 15px 0;
}

.navigation-item:not(:last-child) {
  margin-right: 45px;
}

.navigation-item:not(:first-child) {
  width: 127px;
}

.navigation-item:nth-child(2) {
  margin-left: auto;
}

.navigation-link {
  color: #000;
  font-family: "Raleway";
  font-size: 18px;
  line-height: normal;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}


/* C A T A L O G */

.main-conteiner {
  flex-grow: 1;
  width: 100%;
}

.inner-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 1160px;
  padding: 35px 60px;
  margin: 0 auto;
}

.inner-header-title {
  color: #000;
  background-color: #fff;

  font-family: "Raleway";
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  margin: 0;
  margin-bottom: 16px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: auto;
}

.braedcrumbs-item:not(:last-child) {
  margin-right: 36px;
}

.content {
  background-color: #f0f0f0;
}

.inner-content {
  display: grid;
  grid-template-columns: 320px 840px;
  margin: 0 auto;
  width: 1160px;
}

/* Ф И Л Ь Т Р Ы */

.filter-group {
  display: grid;
  padding-left: 60px;
  align-items: start;
  gap: 35px 0;
  height: max-content;
}

.filter-group > * {
  align-self: start;
  padding: 0;
  margin: 0;
  border: none;
}

.filter-group-title {
  display: flex;
  height: 70px;

  color: #000;
  font-family: "Raleway";
  font-size: 18px;
  line-height: normal;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.filter-group-title div {
  margin: auto;
  margin-left: 0;
}


.catalog-filter-title {
  color: #000;
  font-family: "Rubik";
  font-size: 18px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: -0.02em;

  margin-bottom: 20px;
}

.control-lead, .radio-leed {
  color: #000;
  font-family: "Rubik";
  font-size: 16px;
  line-height: auto;
  font-weight: 400;
  letter-spacing: normal;
}

.form-button {
  color: #000;

  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  line-height: auto;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  padding: 10px 49px;
}


.main-content {
  display: grid;
  align-items: center;
  grid-template-columns: 840px;

  background-color: #fff;
}

.product-header {
  display: flex;
  align-items: center;

  width: 840;
  height: auto;
  padding: 20px 40px;
  margin: 0;

  background-color: #f0f0f0;
}

.sorting-type {
  margin: 0 auto;
}

.product-header .button {
  width: 30px;
  height: 30px;
  background-color: #ffe17f;
  margin-right: 0;
}

.product-list {
  display: grid;
  justify-content: center;
  grid-template-columns: 360px 360px;
  gap: 44px 40px;
  margin-top: 70px;
  margin-bottom: 44px;
}

.product-item img {
  padding-bottom: 32px;
}

.more-button {
  box-sizing: border-box;
  width: 760px;
  height: 55px;
  margin: 0 auto;
  margin-bottom: 44px;
  border: 3px solid #e5e5e5;
  background-color: #fff;

  color: #000;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-list {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto 78px auto;
  width: 760px;
  height: 71px;

  background-color: #ebebeb;
}

.pagination-link {
  box-sizing: border-box;
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #444444;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2em;
}

.pagination-item-prev {
  color: #000;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-right: auto;
  padding: 25px;

}

.pagination-item-next {
  color: #000;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-left: auto;
  padding: 25px;
}


.form-title {
  color: #000;
  font-family: "Raleway";
  font-size: 18px;
  line-height: normal;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}




/* F O O T E R */
footer {
  color: #fff;
  background-color: #444444;
  width: 100%;
}

.footer-container {
  font-family: "Rubik";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  box-sizing: border-box;
  width: 1440px;
  padding: 60px 140px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 240px auto 180px;
  align-items: start;
  justify-content: space-between;
}

.footer-logo {
  display: block;
  grid-column: span 3;
  justify-self: start;
  padding: 2px 1px;
  margin-bottom: 33px;
}

.footer-address {
  font-style: normal;
  margin-bottom: 47px;
}

.footer-navigation {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.footer-navigation-item {
  width: 121px;
}

.footer-navigation-item:not(:last-child) {
  margin-right: 35px;
}

.footer-navigation-link {
  font-family: "Raleway";
  font-size: 18px;
  line-height: normal;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-phone {
  justify-self: end;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-developer {
  justify-self: end;
}

.rectangle {
  width: 16px;
  height: 16px;
  background-color: #ffe17f;
  border: 1px solid black;
}

.footer-social-item {
  width: 16px;
  height: 16px;
  background-color: #ffe17f;
  border: 1px solid black;
  justify-self: center;
  align-self: center;
}

/* Г Л А В Н А Я*/
.main-index {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

/* Горизонтальные категории каталога */

.catalog-category {
  box-sizing: border-box;
  width: 1160px;
}

.category-list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.category-link {
  box-sizing: border-box;
  width: 160px;
  display: flex;
  flex-direction: column;
}

.category-icon {
  display: flex;
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
}

.category-icon svg {
  margin: auto;
}

.category-list li:nth-child(2) svg {
  margin-bottom: 0;
}

.category-link h3 {
  display: block;
  padding: 0;
  margin-top: 32px;
  margin-bottom: 0;
  width: 160px;
  height: 60px;

  font-size: 18px;
  line-height: 24px;
  text-align: left;
  letter-spacing: -0.04em;
}

/* Сервисы Доставка/Гарантия/Кредит */

.services {
  width: 100%;
  background-color: #f0f0f0;
  box-shadow: 0 102px 0 0 #fff inset;
}

.services-wrapper {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 72px;
  display: flex;
}

/* Информация */

.cervices-info {
  width: 729px;
  margin-left: 116px;
  margin-right: 63px;
  margin-top: 72px;
  background: url(../images/delivery-man.png) top right no-repeat;
}

.cervices-info h2 {
  font-family: "Raleway";
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;

  margin: 0;
  margin-bottom: 34px;
}

.cervices-info p {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
}

/* Список */

.services-list {
  display: block;
  padding-top: 64px;
  border-right: solid 8px #000;
}

.cervices-item {
 width: 280px;
 height: 40px;
 margin-bottom: 35px;
 box-sizing: border-box;
 position: relative;
}

.cervices-item:last-child {
  margin-bottom: 65px;
}

.cervices-item.active {
  color: #ffe17f;
  background-color: #000;
}

.cervices-link:not(.active) {
  background-image: linear-gradient(transparent 40%,#ffe17f 40%,#ffe17f 60%, transparent 60%);
}

.cervices-link {
  font-family: "Raleway";
  font-size: 18px;
  letter-spacing: 0.2em;
  font-weight: 800;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 160px;
  margin-bottom: 35px;
}

.cervices-link.active {
  color: #ffe17f;
  background-color: #000;
}

/* Кнопка доставки */

.delivery-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 1160px;
  height: 100px;

  font-family: "Raleway";
  font-size: 18px;
  letter-spacing: 0.2em;
  font-weight: 800;
  text-transform: uppercase;

  background: #f0f0f0 url(../images/delivery-car.png) left no-repeat;
}

.delivery-button::after {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 42px;
  top: 30px;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(220, 220, 220, 0.5) url(../images/info.svg) center no-repeat;
}

/* Блок с информацией */

.info {
  width: 1160px;
  display: grid;
  grid-template-columns: 520px 532px;
  justify-content: space-between;
}

.about h2 {
  font-family: "Raleway";
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;

  position: relative;
  margin-top: 0;
  margin-bottom: 48px;
  padding-top: 48px;
}

.about::before {
  display: block;
  position: absolute;
  content: "";
  width: 84px;
  height: 7px;
  background-color: #000;
}

.about h3 {
  font-family: "Rubik";
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;

  background-color: #fff;
  color: #686868;

  margin-top: 0;
  margin-bottom: 15px;
}

.about p {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;

  color: #686868;
  background-color: #fff;

  margin-bottom: 30px;
  margin-top: 0;
}

.about .button {
  background-image: linear-gradient(transparent 40%,#ffe17f 40%,#ffe17f 60%, transparent 60%);

  font-family: "Raleway";
  font-size: 18px;
  letter-spacing: 0.2em;
  font-weight: 800;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
}

.about-more-button {
  width: 270px;
}

.about-subscribe-button {
  width: 260px;
}

.address, .phone {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
  font-style: normal;

  color: #686868;
  background-color: #fff;
}

.phone {
  display: inline-block;
  margin-bottom: 30px;
}
